
	<div role="tabpanel" class="tabpanel pref-tabs">
		<div class="tabpanel-nav">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#vipT" aria-controls="vip" role="tab" data-toggle="tab" aria-expanded="true"><span class="sprite tab-vip"></span> VIP</a></li>
				<li role="presentation" class=""><a href="#premT" aria-controls="prem" role="tab" data-toggle="tab" aria-expanded="false"><span class="sprite tab-prem"></span> Премиум</a></li>
				<li role="presentation" class=""><a href="#upT" aria-controls="up" role="tab" data-toggle="tab" aria-expanded="false"><span class="sprite tab-up"></span> Поднять</a></li>
				<li role="presentation" class=""><a href="#markT" aria-controls="mark" role="tab" data-toggle="tab" aria-expanded="false"><span class="sprite tab-mark"></span> Выделить</a></li>
			</ul>
		</div>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="vipT">
				<div class="tab-title">Подключив рекламную услугу «VIP» Вы получите:</div>
				<div role="re">
					<div class="tab-block sprite ico-promo">
						<div class="tab-subtitle">Рекламные промо-материалы (без логотипа ИМЛС)</div>
						<div>
							– промо-сайт объекта недвижимости
							<div class="q_info">
								<div class="tooltip-toggle"></div>
								<div class="screen-tooltip tooltip-click tooltip">
									<div class="close-tooltip sprite"></div>
									<div class="screen-tooltip-content"><img src="images/screen/promo.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<div>
							– презентацию объекта на отдельной WEB-странице
							<div class="q_info">
								<div class="tooltip-toggle"></div>
								<div class="screen-tooltip tooltip-click tooltip">
									<div class="close-tooltip sprite"></div>
									<div class="screen-tooltip-content"><img src="images/screen/web.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<div>
							– презентацию объекта в PDF для печати
							<div class="q_info">
								<div class="tooltip-toggle"></div>
								<div class="screen-tooltip tooltip-click tooltip">
									<div class="close-tooltip sprite"></div>
									<div class="screen-tooltip-content"><img src="images/screen/presentation.jpg" alt=""></div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-block sprite ico-partner">
						<div class="tab-subtitle">Бонус! Бесплатное размещение объявлений в рекламной сети ИМЛС:</div>
						<div>
							– на порталах по недвижимости наших информационных партнеров
						</div>
						<div>
							– в профессиональных базах по недвижимости
						</div>
					</div>
					<div class="tab-block sprite ico-place">
						<div class="tab-subtitle">
							Размещение объявления в специальном блоке "VIP предложения"
							<div class="q_info">
								<div class="tooltip-toggle"></div>
								<div class="screen-tooltip tooltip-click tooltip align-right">
									<div class="close-tooltip sprite"></div>
									<div class="screen-tooltip-content"><img src="images/screen/vip4.jpg" alt=""></div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-block sprite ico-view">
						<div class="tab-subtitle">Отображение объявления выше бесплатных и "Премиум" объявлений:</div>
						<div>
							– в результатах поиска
							<div class="q_info">
								<div class="tooltip-toggle"></div>
								<div class="screen-tooltip tooltip-click tooltip" style="display: none;">
									<div class="close-tooltip sprite"></div>
									<div class="screen-tooltip-content"><img src="images/screen/vip5.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<div>
							– в блоке "Похожие объявления"
							<div class="q_info">
								<div class="tooltip-toggle"></div>
								<div class="screen-tooltip tooltip-click tooltip" style="display: none;">
									<div class="close-tooltip sprite"></div>
									<div class="screen-tooltip-content"><img src="images/screen/vip6.jpg" alt=""></div>
								</div>
							</div>
						</div>
						<div>
							– в разделе "Совпадения"
							<div class="q_info">
								<div class="tooltip-toggle"></div>
								<div class="screen-tooltip tooltip-click tooltip" style="display: none;">
									<div class="close-tooltip sprite"></div>
									<div class="screen-tooltip-content"><img src="images/screen/vip7.jpg" alt=""></div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-block sprite ico-marked">
						<div class="tab-subtitle">
							Отметку объявления специальным знаком ( <span class="sprite vip-small"></span> )
							<div class="q_info">
								<div class="tooltip-toggle"></div>
								<div class="screen-tooltip tooltip-click tooltip" style="display: none;">
									<div class="close-tooltip sprite"></div>
									<div class="screen-tooltip-content"><img src="images/screen/vip8.jpg" alt=""></div>
								</div>
							</div>
						</div>
					</div>
					<div class="total " id="vip17biginfo" data-transition="1">
						<span class=" disconnected">
							Стоимость: <b>0</b> руб./сутки
							<a href="" class="no-border_btn orange-btn" data-big-input="vip17">подключить рекламную услугу «VIP»</a>
						</span>
						<span class="connected custom-hidden"><span class="colorGreen ">Подключена:</span> <span class="colorGrey start-date"></span></span>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="premT">
				<div class="tab-title">Подключив рекламную услугу «Премиум» Вы получите:</div>
				<div role="re">
					  <div class="tab-block sprite ico-promoR">
						<div class="tab-subtitle">Рекламные промо-материалы (с логотипом ИМЛС)</div>
						<div>
							– промо-сайт объекта недвижимости
						</div>
						<div>
							– презентацию объекта на отдельной WEB-странице
						</div>
						<div>
							– презентацию объекта в PDF для печати
						</div>
					</div>
					<div class="tab-block sprite ico-partner">
						<div class="tab-subtitle">Бонус! Бесплатное размещение объявлений в рекламной сети ИМЛС:</div>
						<div>
							– на порталах по недвижимости наших информационных партнеров
						</div>
						<div>
							– в профессиональных базах по недвижимости
						</div>
					</div>
					<div class="tab-block sprite ico-viewR">
						<div class="tab-subtitle">Отображение объявления выше бесплатных объявлений:</div>
						<div>
							– в результатах поиска
						</div>
						<div>
							– в блоке "Похожие объявления"
						</div>
						<div>
							– в разделе "Совпадения"
						</div>
					</div>
					<div class="tab-block sprite ico-markedR">
						<div class="tab-subtitle">
							Отметку объявления специальным знаком ( <span class="sprite prem-small"></span> )
						</div>
					</div>
				  
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="upT">
				<div class="tab-title">Подключив рекламную услугу «Поднять» Вы получите:</div>
				<div class="tab-block sprite ico-calendG">
					<div class="tab-subtitle">
						Отображать объявления на imls.ru ежедневно как новое
					</div>
				</div>
				<div class="tab-block sprite ico-viewG">
					<div class="tab-subtitle">Отображение объявления выше более старых объявлений:</div>
					<div>
						– в результатах поиска
					</div>
					
					<div role="re">
						– в блоке "Похожие объявления"
					</div>
				
					<div>
						– в разделе "Совпадения"
					</div>
				</div>
				<div class="tab-block sprite ico-markedG">
					<div class="tab-subtitle">
						Отметку объявления специальным знаком ( <span class="sprite up-small"></span> )
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="markT">
				<div class="tab-title">Подключив рекламную услугу «Выделить» Вы получите:</div>
				<div class="tab-block sprite ico-viewP">
					<div class="tab-subtitle">Выделение объявления на imls.ru привлекающем внимание цветом:</div>
					<div>
						– в результатах поиска
					</div>
					<div role="re">
						– в блоке "Похожие объявления"
					</div>
					<div>
						– в разделе "Совпадения"
					</div>
				</div>
				<div class="tab-block sprite ico-markedP">
					<div class="tab-subtitle">
						Отметку объявления специальным знаком ( <span class="sprite mark-small"></span> )
					</div>
				</div>
			</div>
		</div>
	</div>