				<div role="tabpanel" class="tabpanel pref-tabs">
					<div class="tabpanel-nav">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#vipR" aria-controls="vip" role="tab" data-toggle="tab" aria-expanded="true"><span class="sprite tab-vip"></span> VIP</a></li>
							<li role="presentation" class=""><a href="#premR" aria-controls="prem" role="tab" data-toggle="tab" aria-expanded="false"><span class="sprite tab-prem"></span> Премиум</a></li>
							<li role="presentation" class=""><a href="#upR" aria-controls="up" role="tab" data-toggle="tab" aria-expanded="false"><span class="sprite tab-up"></span> Поднять</a></li>
							<li role="presentation" class=""><a href="#markR" aria-controls="mark" role="tab" data-toggle="tab" aria-expanded="false"><span class="sprite tab-mark"></span> Выделить</a></li>
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="vipR">
							<div class="tab-title">Подключив рекламную услугу «VIP» Вы получите:</div>
							<div role="request" >
								<div class="tab-block sprite ico-view">
									<div class="tab-subtitle">Отображение объявления выше бесплатных и "Премиум" объявлений:</div>
									<div>
										– в результатах поиска
									</div>
									<div>
										– в разделе "Совпадения"
									</div>
								</div>
								<div  class="tab-block sprite ico-marked">
									<div class="tab-subtitle">
										Отметку объявления специальным знаком ( <span class="sprite vip-small"></span> )
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="premR">
							<div class="tab-title">Подключив рекламную услугу «Премиум» Вы получите:</div>
						   
							<div role="request" >
								<div class="tab-block sprite ico-viewR">
									<div class="tab-subtitle">Отображение объявления выше бесплатных объявлений:</div>
									<div>
										– в результатах поиска
									</div>
									<div>
										– в разделе "Совпадения"
									</div>
								</div>
								<div class="tab-block sprite ico-markedR">
									<div class="tab-subtitle">
										Отметку объявления специальным знаком ( <span class="sprite prem-small"></span> )
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="upR">
							<div class="tab-title">Подключив рекламную услугу «Поднять» Вы получите:</div>
							<div class="tab-block sprite ico-calendG">
								<div class="tab-subtitle">
									Отображать объявления на imls.ru ежедневно как новое
								</div>
							</div>
							<div class="tab-block sprite ico-viewG">
								<div class="tab-subtitle">Отображение объявления выше более старых объявлений:</div>
								<div>
									– в результатах поиска
								</div>
								<div>
									– в разделе "Совпадения"
								</div>
							</div>
							<div class="tab-block sprite ico-markedG">
								<div class="tab-subtitle">
									Отметку объявления специальным знаком ( <span class="sprite up-small"></span> )
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="markR">
							<div class="tab-title">Подключив рекламную услугу «Выделить» Вы получите:</div>
							<div class="tab-block sprite ico-viewP">
								<div class="tab-subtitle">Выделение объявления на imls.ru привлекающем внимание цветом:</div>
								<div>
									– в результатах поиска
								</div>
								<div>
									– в разделе "Совпадения"
								</div>
							</div>
							<div class="tab-block sprite ico-markedP">
								<div class="tab-subtitle">
									Отметку объявления специальным знаком ( <span class="sprite mark-small"></span> )
								</div>
							</div>
						</div>
					</div>
				</div>