<div class="search-result-item">
	<div class="container">
		<div class="search-result-item_aside prel">
			<div class="item-check">
				<input type="checkbox" id="notif2" checked="checked">
				<label for="notif2" class="sprite"></label>
			</div>
			<div class="colorGrey">10 января 2015, 02:02</div>
			<div class="img-wrap">
				<img src="images/temp/home.jpg" alt="">
				<div class="media-ico">
					<a href="#" class="sprite s-photo"><span>5</span></a>
				</div>
			</div>
			<div class="prel">
				<div class="edit-panel ico_group">
					<ul>
						<li class="button-dropdown">
							<div class="ico_edit-wrap dropdown-toggle">
								<a class="ico_edit">
									<span class="tooltip">Мое примечание</span>
								</a>
							</div>
							<div class="tooltip add_comment dropdown-modal">
								<div class="close-tooltip sprite"></div>
								<textarea>Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет... Сигнализация, Охрана... Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация,</textarea>
								<span class="subm_btn">Отправить</span>
							</div>
						</li>
						<li>
							<a class="ico_object">
								<span class="tooltip">Карточка объявления</span>
							</a>
						</li>
						<li>
							<a class="ico_2">
								<span class="tooltip">Редактировать</span>
							</a>
						</li>
						<li>
							<a class="ico_3">
								<span class="tooltip">Копировать</span>
							</a>
						</li>
						<li>
							<a class="ico_5">
								<span class="tooltip">Переместить в архив</span>
							</a>
						</li>
						<li>
							<a class="ico_delete">
								<span class="tooltip">Удалить</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="search-result-item_main">
			<div class="general">
				<div class="price-block">
					<div class="sprite cash_ico">
						<span>400 000 000</span>
						<span class="total_cost nobr tooltip-toggle">
						<span class="dashed"><span class="currency">₽</span> общ. ст.</span></span>
						<div class="tooltip tooltip-click">
							<div class="close-tooltip sprite"></div>
							<table>
								<tr>
									<th>Ед. измерения</th>
									<th><div class="sprite rub-ico"></div></th>
									<th><div class="sprite usd-ico"></div></th>
									<th><div class="sprite euro-ico"></div></th>
								</tr>
								<tr>
									<td>Общ. ст :</td>
									<td>400 000 000 000</td>
									<td>8 000 <sup class="green">*</sup></td>
									<td>7 500 <sup class="green">*</sup></td>
								</tr>
								<tr>
									<td>Общ. ст.мес. :</td>
									<td>400 500</td>
									<td>8 000 <sup class="green">*</sup></td>
									<td>7 500 <sup class="green">*</sup></td>
								</tr>
								<tr>
									<td>Общ. ст. год :</td>
									<td>400 500</td>
									<td>6 451 612 <sup class="green">*</sup></td>
									<td>6 151 612 <sup class="green">*</sup></td>
								</tr>
								<tr>
									<td>Общ. ст день:</td>
									<td>6 500</td>
									<td>100 <sup class="green">*</sup></td>
									<td>95 <sup class="green">*</sup></td>
								</tr>
								<tr>
									<td>М<sup>2</sup> :</td>
									<td>6 500</td>
									<td>100 <sup class="green">*</sup></td>
									<td>95 <sup class="green">*</sup></td>
								</tr>
								<tr>
									<td>М<sup>2</sup> в месяц:</td>
									<td>6 500</td>
									<td>100 <sup class="green">*</sup></td>
									<td>95 <sup class="green">*</sup></td>
								</tr>
								<tr>
									<td>М<sup>2</sup> в год:</td>
									<td>6 500</td>
									<td>100 <sup class="green">*</sup></td>
									<td>95 <sup class="green">*</sup></td>
								</tr>
								<tr>
									<td>М<sup>2</sup> в день:</td>
									<td>6 500</td>
									<td>100 <sup class="green">*</sup></td>
									<td>95 <sup class="green">*</sup></td>
								</tr>
							</table>
							<div class="colorGrey"><sup class="green">*</sup>по курсу ЦБ на 28 июля 2015г.</div>
						</div>
					</div>
					<ul class="colorGrey">
						<li class="bonus_ico sprite">
							<p>2% <span class="nobr">(8 000 ₽)</span></p>
							<div class="tooltip">Плачу комиссию посреднику</div>
						</li>
					</ul>
				</div>
				<div class="general-title">
					<div class="local_ico">
						<span class="hidden_txt"><a href="#" class="dashed sprite">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias officiis optio, dolore atque, eveniet at.</a></span>
						<div class="tooltip align_right">
							<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias officiis optio, dolore atque, eveniet at.</a></p>
						</div>
					</div>
					<span class="sprite area_ico"> 
						<b>120</b> м<sup>2</sup>
						<span class="colorGrey"> / 100 / 50/ 100 / 50</span>
					</span>
				</div>
				<div class="general-adress">
					<ul>
						<li>Москва рег., Москва г., Мичуринский пр-кт, д.34</li>
						<li><span class="colorSky">м. Университет,</span>
							<span class="colorOrange">м. Академическая</span></li>
						<li class="colorGrey">10 минут транспортом от метро</li>
					</ul>
				</div>
			</div>
			<div class="public">
				<div class="obj-block">
					//= interactiv.html
				</div>
				//= rek-block.html
			</div>
		</div>
	</div>
</div>