
<div class="edit-panel ico_group">
	<ul>
		<li>
			<a class="ico_star active">
				<span class="tooltip">Добавить в избранное</span>
			</a>
		</li>
		<li class="button-dropdown">
			<a class="ico_del dropdown-toggle">
				<span class="tooltip">Пожаловаться на объект</span>
				<span class="ico_bell-count">5</span>
			</a>
			<div class="tooltip form-complaint dropdown-modal">
				<div class="close-tooltip sprite"></div>
				<ul>
					<li>
						<input type="radio" name="compl-r" id="compl-1">
						<label class="sprite dotted-line" for="compl-1">Ложное объявление <span class="dotted"></span><span class="compl-count">2</span></label>
					</li>
					<li>
						<input type="radio" name="compl-r" id="compl-2">
						<label class="sprite dotted-line" for="compl-2">Объект сдан/продан <span class="dotted"></span><span class="compl-count">2</span></label>
					</li>
					<li class="wrong">
						<input type="radio" name="compl-r" id="compl-3">
						<label class="sprite dotted-line" for="compl-3">Неверные данные <span class="dotted"></span><span class="compl-count">10</span></label>
						<ul>
							<li><input type="checkbox" id="compl-4"><label class="sprite" for="compl-4">Цена объекта</label></li>
							<li><input type="checkbox" id="compl-5"><label class="sprite" for="compl-5">Комиссия</label></li>
							<li><input type="checkbox" id="compl-6"><label class="sprite" for="compl-6">Параметры объекта</label></li>
							<li><input type="checkbox" id="compl-7"><label class="sprite" for="compl-7">Адрес</label></li>
							<li><input type="checkbox" id="compl-8"><label class="sprite" for="compl-8">Фото</label></li>
							<li><input type="checkbox" id="compl-9"><label class="sprite" for="compl-9">Контакты</label></li>
						</ul>
					</li>
				</ul>
				<span class="subm_btn send-complaint">Пожаловаться</span>
			</div>
		</li>
		<li class="button-dropdown">
			<div class="ico_edit-wrap dropdown-toggle">
				<a class="ico_edit">
					<span class="tooltip">Примечание</span>
				</a>
			</div>
			<div class="tooltip add_comment dropdown-modal">
				<div class="close-tooltip sprite"></div>
				<textarea>Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет... Сигнализация, Охрана... Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация,</textarea>
				<span class="subm_btn">Отправить</span>
			</div>
		</li>
		<li>
			<a class="ico_object">
				<span class="tooltip">Карточка объекта</span>
			</a>
		</li>
	</ul>
</div>