			<div class="faq">
				<div class="container">
					<div class="faq-inner">
						<dl>
							<dt><a href="#">Что такое ИМЛС?</a></dt>
							<dd>
								<p>
								ИМЛС - это профессиональный сервис по недвижимости, состоящий из 85 региональных отделений, который позволяет всем участникам рынка недвижимости эффективно взаимодействовать друг с другом в едином, интерактивном, информационном пространстве.
								</p>
								<p class="justify"><a href="#">для собственников</a> <a href="#">для клиентов</a> <a href="#">для агентств и риелторов</a></p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Как продать или сдать недвижимость на ИМЛС? </a></dt>
							<dd>
								<p>ИМЛС предлагает все эффективные инструменты для продажи или сдачи в аренду недвижимости:</p>
								<p>- <a href="#">Самостоятельный поиск клиентов</a> (Вы можете указать параметры своего объекта и найти всех клиентов которых может интересовать именно ваш объект)</p>
								<p>- <a href="#">Добавить объект в ИМЛС</a> (Вы можете добавить объект в ИМЛС и система будет автоматически отслеживать новых подходящих клиентов, а также организовать дополнительную рекламную кампанию своего объекта и получить еще большее количество клиентов.)</p>
								<p>- <a href="#">Отправить заявку риелтору на реализацию объекта</a> (Риелторы получившие вашу заявку свяжутся с вами для уточнения параметров и профессионально организуют реализацию объекта «под ключ»</p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Как купить или снять недвижимость на ИМЛС? </a></dt>
							<dd>
								<p>ИМЛС предлагает все эффективные инструменты для покупки или аренды недвижимости:</p>
								<p>- <a href="#">Самостоятельный поиск недвижимости</a> (Вы можете указать параметры интересующего вас объекта и посмотреть все подходящие вам объекты)</p>
								<p>- <a href="#">Добавить запрос в ИМЛС</a> (Вы можете добавить запрос в ИМЛС и система будет автоматически отслеживать новые подходящие вам объекты, а также организовать дополнительную рекламную кампанию своего запроса и получить еще большее количество объектов.)</p>
								<p>- <a href="#">Отправить заявку риелтору на поиск недвижимости</a> (Риелторы получившие вашу заявку свяжутся с вами для уточнения параметров и профессионально организуют приобретение объекта «под ключ»</p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Кто может стать участником ?</a></dt>
							<dd>
								<p>ИМЛС создан для всех участников рынка недвижимости :</p>
								<p>- Собственники недвижимости, управляющие компании и т.д.</p>
								<p>- Клиенты занимающиеся вопросами поиска недвижимости</p>
								<p>- Агентства недвижимости и риелторы</p>
								<p>- и другие физ.лица и компании причастные к рынку недвижимости</p>
								<p>Для этого вам необходимо <a href="#">зарегистрироваться</a> (Регистрация бесплатна)</p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Какие преимущества для собственников недвижимости?</a></dt>
							<dd>
								<p>
									Профессиональный сервис по недвижимости ИМЛС работает по принципу «единого окна услуг» и предлагает собственникам недвижимости и управляющим компаниям широкий выбор инструментов, для повышения эффективности продажи, сдачи в аренду объектов недвижимости, получение других сопутствующих услуг и снижение расходов на все операции с недвижимостью.
								</p>
								<p><a href="#">Узнать подробнее</a></p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Какие преимущества для клиентов ищущих недвижимость?</a></dt>
							<dd>
								<p>
									Профессиональный сервис по недвижимости ИМЛС работает по принципу «единого окна услуг» и предлагает клиентам широкий выбор инструментов для выгодной покупки или аренды недвижимости, получение других сопутствующих услуг и снижение расходов на все операции с недвижимостью.
								</p>
								<p><a href="#">Узнать подробнее</a></p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Какие преимущества для агентств недвижимости и риелторов?</a></dt>
							<dd>
								<p>
									Профессиональный сервис по недвижимости ИМЛС работает по принципу «единого окна услуг» и предлагает вам широкий выбор инструментов направленных на повышение эффективности работы агента, снижение его трудозатрат, расходов и повышение его заработка.
								</p>
								<p><a href="#">Узнать подробнее</a></p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Какие рекламные инструменты есть в ИМЛС?</a></dt>
							<dd>
								<p>
									Система ИМЛС имеет все, наиболее эффективные рекламные инструменты, с помощью которых вы можете комплексно проводить рекламные кампании объектов недвижимости и получать значительно больше клиентов.
								</p>
								<p><a href="#">Узнать подробнее</a></p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Можно ли подать заявку риелтору на поиск недвижимости?</a></dt>
							<dd>
								<p>
									Да возможно. Если вы хотите доверить продажу, сдачу в аренду недвижимости и сопровождение сделки «под ключ» профессионалам, вы можете отправить заявку агенту, участнику системы ИМЛС
								</p>
								<p><a href="#">Узнать подробнее</a></p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Можно ли подать заявку риелтору на реализацию недвижимости? </a></dt>
							<dd>
								<p>
									Если вы хотите доверить поиск недвижимости и сопровождение сделки «под ключ» профессионалам, вы можете отправить заявку агенту, участнику системы ИМЛС.
								</p>
								<p><a href="#">Узнать подробнее</a></p>
							</dd>
						</dl>

						<dl>
							<dt><a href="#">Вы предоставляете загрузку объектов в формате XML?</a></dt>
							<dd>
								<p>
									Да, для агентств недвижимости, собственников и управляющих компаний мы предлагаем возможность автоматической загрузки объявлений в систему ИМЛС по XML
								</p>
								<p><a href="#">Узнать подробнее</a></p>
							</dd>
						</dl>
					</div>
					
					<div class="center">
						<div class="no-border_btn btn_blue">все вопросы и ответы</div>
					</div>
				</div>
			</div>