
			<div class="top-bar">
				<div class="container">
					<div class="top-bar_menu">
						<div class="menu-toggle">
							<span class="sprite"></span>
							Меню
							<div class="tooltip">
								Меню
							</div>
						</div>
						<div class="top-bar_menu-content">
							<div class="row">
								<div class="col col-2">
									<div class="title title-blue sprite ">Купить / Снять</div>
									<div class="sprite ico_1 color-block">
										<span class="link-toggle">Добавить запрос<span class="sprite"></span></span>
										<ul class="more-links">
											<li><a href="#" target="_blank">Квартиры, комнаты</a></li>
											<li><a href="#" target="_blank">Дома, участки</a></li>
											<li><a href="#" target="_blank">Коммерческая</a></li>
										</ul>
									</div>
									<div class="sprite ico_3 color-block">
										<span class="link-toggle">Искать объекты<span class="sprite"></span></span>
										<ul class="more-links">
											<li><a href="#" target="_blank">Квартиры, комнаты</a></li>
											<li><a href="#" target="_blank">Дома, участки</a></li>
											<li><a href="#" target="_blank">Коммерческая</a></li>
										</ul>
									</div>
								</div>
								<div class="col col-2">
									<div class="title title-red sprite">Продать / Сдать</div>
									<div class="sprite ico_9 color-block">
										<span class="link-toggle">Добавить объект<span class="sprite"></span></span>
										<ul class="more-links">
											<li><a href="#">Квартиры, комнаты</a></li>
											<li><a href="#">Дома, участки</a></li>
											<li><a href="#">Коммерческая</a></li>
										</ul>
									</div>
									<div class="sprite ico_8 color-block">
										<span class="link-toggle">Искать запросы<span class="sprite"></span></span>
										<ul class="more-links">
											<li><a href="#">Квартиры, комнаты</a></li>
											<li><a href="#">Дома, участки</a></li>
											<li><a href="#">Коммерческая</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dashed_line"></div>
							<div class="row">
								<div class="col col-3">
									<a href="#" target="_blank" class="sprite ico_17">Новости</a>
								</div>
								<div class="col col-3">
									<a href="#" target="_blank" class="sprite ico_19">Вопросы/ответы</a>
								</div>
								<div class="col col-3">
									<a href="#" target="_blank" class="sprite ico_18">Контакты</a>
								</div>
							</div>
						</div>
					</div>
					<div class="top-bar_region">
						<i class="region-sprite"></i>
						<div class="dropdown" data-toggle="modal" data-target="#myModal">
							Московская обл.
							<div class="sprite"></div>
						</div>
						<div class="tooltip">
							Московская обл.
						</div>
					</div>
					<div class="top-bar_user noreg">
						<div class="prel in-bl">
							<div class="ico_group">
								<ul>
									<li class="dropdown">
										<a href="javascript:void(0)" class="ico_star " data-toggle="dropdown">
											<span class="tooltip">Мое избранное</span>
										</a>
										<div class="dropdown-menu">
											<ul>
												<li><a href="/HomeRe/Favorites"><span>Избранные объекты</span><span></span> </a></li>
												<li><a href="/RequestHomeRe/Favorites"><span>Избранные запросы</span><span></span> </a></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<a href="#" class="register-link sprite">Регистрация</a>
						<a href="#" class="red sprite">Войти</a>
					</div>
				</div>
			</div>
			<div class="header header_region">
				<div class="container">
					<a href="#" class="logo">
						<img src="images/ui/logo_img.png" alt="imls.ru">
						<span class="logo_title">ИМЛС</span>
						<span>интеллектуальная мультилистинговая система</span>
					</a>
					<div class="header-title">
						<span>Недвижимость</span>
						<span class="region-name">
							в московской области
						</span>
						<p>покупка, продажа, аренда, услуги</p>
					</div>
					<div class="tel sprite">8 (800) 707-33-23</div>
				</div>
			</div>