
			<div class="top-bar">
				<div class="container">
					<div class="top-bar_menu">
						<div class="menu-toggle">
							<span class="sprite"></span>
							Меню
							<div class="tooltip">
								Меню
							</div>
						</div>
						<div class="top-bar_menu-content">
							<div class="row">
								<div class="col col-2">
									<div class="title title-blue sprite ">Купить / Снять</div>
									<div class="sprite ico_1 color-block">
										<span class="link-toggle">Добавить запрос<span class="sprite"></span></span>
										<ul class="more-links">
											<li><a href="#" target="_blank">Квартиры, комнаты</a></li>
											<li><a href="#" target="_blank">Дома, участки</a></li>
											<li><a href="#" target="_blank">Коммерческая</a></li>
										</ul>
									</div>
									<div class="sprite ico_3 color-block">
										<span class="link-toggle">Искать объекты<span class="sprite"></span></span>
										<ul class="more-links">
											<li><a href="#" target="_blank">Квартиры, комнаты</a></li>
											<li><a href="#" target="_blank">Дома, участки</a></li>
											<li><a href="#" target="_blank">Коммерческая</a></li>
										</ul>
									</div>
								</div>
								<div class="col col-2">
									<div class="title title-red sprite">Продать / Сдать</div>
									<div class="sprite ico_9 color-block">
										<span class="link-toggle">Добавить объект<span class="sprite"></span></span>
										<ul class="more-links">
											<li><a href="#">Квартиры, комнаты</a></li>
											<li><a href="#">Дома, участки</a></li>
											<li><a href="#">Коммерческая</a></li>
										</ul>
									</div>
									<div class="sprite ico_8 color-block">
										<span class="link-toggle">Искать запросы<span class="sprite"></span></span>
										<ul class="more-links">
											<li><a href="#">Квартиры, комнаты</a></li>
											<li><a href="#">Дома, участки</a></li>
											<li><a href="#">Коммерческая</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dashed_line"></div>
							<div class="row">
								<div class="col col-3">
									<a href="#" target="_blank" class="sprite ico_17">Новости</a>
								</div>
								<div class="col col-3">
									<a href="#" target="_blank" class="sprite ico_19">Вопросы/ответы</a>
								</div>
								<div class="col col-3">
									<a href="#" target="_blank" class="sprite ico_18">Контакты</a>
								</div>
							</div>
						</div>
					</div>
					<div class="top-bar_region">
						Регион:
						<div class="dropdown">
							Московская обл.
							<div class="sprite"></div>
						</div>
						<div class="tooltip">
							Московская обл.
						</div>
						<div class="dropdown-content">
							<p>
								Мы верно определили ваш регион?
							</p>
							<div class="light-grn _btn">
								Да
							</div>
							<a class="link_dashed" href="#" data-toggle="modal" data-target="#myModal">Выбрать другой</a>
						</div>
					</div>
					<div class="top-bar_user noreg">
						<a class="user_mail sprite" href="#">Гость</a>
						<div class="ico_group">
							<a href="#" class="ico_star active">
								<span class="ico_bell-count">5</span>
								<span class="tooltip">Мое избранное</span>
							</a>
							<div class="user_fav-content">
								<a href="#">Избранные объекты</a>
								<a href="#">Избранные запросы</a>
							</div>
						</div>
						<a href="#" class="register-link sprite">Регистрация</a>
						<a href="#" class="red sprite">Войти</a>
					</div>
				</div>
			</div>
			<div class="header" style="background: url(https://77.imls.ru/Content/images/ui/header_blur.png) repeat, url('https://77.imls.ru/Content/images/Headers/77.jpg') center no-repeat">
				<div class="container">
					<a href="#" class="logo">
						<img src="images/ui/logo_img.png" alt="imls.ru">
						<span class="logo_title">ИМЛС</span>
						<span>интеллектуальная мультилистинговая система</span>
					</a>
					<div class="header-title" style="background: url(https://77.imls.ru/Content/images/CoatOfArms/77.png) left 18px no-repeat;">
						<span>ФЕДЕРАЛЬНЫЙ СЕРВИС ПО НЕДВИЖИМОСТИ</span>
						<span class="region-name">
							МОСКВА
						</span>
						<p>покупка, продажа, аренда, услуги</p>
					</div>
				</div>
			</div>
			<!-- <div class="header header_region">
				<div class="container">
					<a href="#" class="logo">
						<img src="images/ui/logo_img.png" alt="imls.ru">
						<span class="logo_title">ИМЛС</span>
						<span>интеллектуальная мультилистинговая система</span>
					</a>
					<div class="header-title">
						<span>Недвижимость</span>
						<span class="region-name">
							В Московской области
						</span>
						<p>покупка, продажа, аренда, услуги</p>
					</div>
				</div>
			</div> -->
			<!-- <div class="header header_spb">
				<div class="container">
					<a href="#" class="logo">
						<img src="images/ui/logo_img.png" alt="imls.ru">
						<span class="logo_title">ИМЛС</span>
						<span>интеллектуальная мультилистинговая система</span>
					</a>
					<div class="header-title">
						<span>Недвижимость</span>
						<span class="region-name">
							В Санкт-петербурге
						</span>
						<p>покупка, продажа, аренда, услуги</p>
					</div>
				</div>
			</div> -->
			<!-- <div class="header header_lenin">
				<div class="container">
					<a href="#" class="logo">
						<img src="images/ui/logo_img.png" alt="imls.ru">
						<span class="logo_title">ИМЛС</span>
						<span>интеллектуальная мультилистинговая система</span>
					</a>
					<div class="header-title">
						<span>Недвижимость</span>
						<span class="region-name">
							В ленинградской области
						</span>
						<p>покупка, продажа, аренда, услуги</p>
					</div>
				</div>
			</div> -->
