<div class="int-block">
	<div class="wrap-loader">
		<div id="floatBarsG">
			<div id="floatBarsG_1" class="floatBarsG"></div>
			<div id="floatBarsG_2" class="floatBarsG"></div>
			<div id="floatBarsG_3" class="floatBarsG"></div>
		</div>
	</div>
	<div class="sprite obj_ico">
		Интерактив
		<div class="q_info">
			<div class="tooltip left">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi neque nemo est odio, eaque adipisci vitae non unde. Ad, dolores.</p>
			</div>
		</div>
	</div>
	<ul class="tdec">
		<li class="match_ico sprite">
			<a href="#"><span class="doc-title">Совпадения</span> <span>22</span></a>
		</li>
		<li class="attention_ico sprite">
			<a href="#"><span class="doc-title">Жалобы</span> <span><b>3</b> / 10</span></a>
		</li>
		<li class="look_ico sprite">
			<a href="#"><span class="doc-title">Просмотры</span> <span>0</span></a>
		</li>
		<li class="statistic_ico sprite">
			<div class="list-item">
				<span class="doc-title tooltip-toggle">Статистика</span> 
				<span>140</span>
				<span class="sprite ico-share"></span>
				<div class="tooltip tooltip-up tooltip-click col3-tooltip">
					<div class="close-tooltip sprite"></div>
					<div class="tooltip-content">
						<table class="sites">
							<tbody><tr>
								<td><div class="wrap-text">Cian.ru</div></td>
								<td><div class="shadow">Не предоставляется</div></td>
								<td>
									<a href="" class="sprite pre stat-info">5+
										<span class="tooltip">Предпросмотры</span>
									</a>
									<a href="" class="sprite looks stat-info">5+
										<span class="tooltip">Просмотры</span>
									</a>
									<a href="" class="sprite calls stat-info">3+
										<span class="tooltip">Звонки</span>
									</a>
									<a href="" class="sprite mails stat-info">5+
										<span class="tooltip">Письма</span>
									</a>
								</td>
							</tr>
							<tr>
								<td><div class="wrap-text">Yandex</div></td>
								<td><div class="shadow"><a href="http://www.yandex.ru/new">http://www.yandex.ru/new</a></div></td>
								<td>
									<a href="" class="sprite pre stat-info">5+
										<span class="tooltip">Предпросмотры</span>
									</a>
									<a href="" class="sprite looks stat-info">5+
										<span class="tooltip">Просмотры</span>
									</a>
									<a href="" class="sprite calls stat-info">3+
										<span class="tooltip">Звонки</span>
									</a>
									<a href="" class="sprite mails stat-info">5+
										<span class="tooltip">Письма</span>
									</a>
								</td>
							</tr>
							<tr>
								<td><div class="wrap-text">Colodenororoier</div></td>
								<td><div class="shadow"><a href="http://www.colode">http://www.colode</a></div></td>
								<td>
									<a href="" class="sprite pre stat-info">5+
										<span class="tooltip">Предпросмотры</span>
									</a>
									<a href="" class="sprite looks stat-info">5+
										<span class="tooltip">Просмотры</span>
									</a>
									<a href="" class="sprite calls stat-info">3+
										<span class="tooltip">Звонки</span>
									</a>
									<a href="" class="sprite mails stat-info">5+
										<span class="tooltip">Письма</span>
									</a>
								</td>
							</tr>
							<tr>
								<td><div class="wrap-text">Bisfast.ru</div></td>
								<td><div class="shadow"><a href="http://www.bisfast">http://www.bisfast</a></div></td>
								<td>
									<a href="" class="sprite pre stat-info">5+
										<span class="tooltip">Предпросмотры</span>
									</a>
									<a href="" class="sprite looks stat-info">5+
										<span class="tooltip">Просмотры</span>
									</a>
									<a href="" class="stat-info">
										н/д
									</a>
									<a href="" class="sprite mails stat-info">5+
										<span class="tooltip">Письма</span>
									</a>
								</td>
							</tr>
							<tr>
								<td><div class="wrap-text">Cromuon.ru</div></td>
								<td><div class="shadow"><a href="http://www.cromuon">http://www.cromuon</a></div></td>
								<td>
									<a href="" class="sprite pre stat-info">5+
										<span class="tooltip">Предпросмотры</span>
									</a>
									<a href="" class="sprite looks stat-info">5+
										<span class="tooltip">Просмотры</span>
									</a>
									<span class="stat-info">
										н/д
									</span>
									<a href="" class="sprite mails stat-info">5+
										<span class="tooltip">Письма</span>
									</a>
								</td>
							</tr>
							<tr>
								<td><div class="wrap-text">Poloforto.ru</div></td>
								<td><div class="shadow"><a href="http://www.poloforto">http://www.poloforto</a></div></td>
								<td>
									<a href="" class="sprite pre stat-info">5+
										<span class="tooltip">Предпросмотры</span>
									</a>
									<span class="stat-info">
										н/д
									</span>
									<a href="" class="sprite calls stat-info">3+
										<span class="tooltip">Звонки</span>
									</a>
									<a href="" class="sprite mails stat-info">5+
										<span class="tooltip">Письма</span>
									</a>
								</td>
							</tr>
							<tr>
								<td><div class="wrap-text">Firofogo.ru</div></td>
								<td><div class="shadow"><a href="http://www.firofogo">http://www.firofogo</a></div></td>
								<td>
									<a href="" class="sprite pre stat-info">5+
										<span class="tooltip">Предпросмотры</span>
									</a>
									<a href="" class="sprite looks stat-info">5+
										<span class="tooltip">Просмотры</span>
									</a>
									<a href="" class="sprite calls stat-info">3+
										<span class="tooltip">Звонки</span>
									</a>
									<span class="stat-info">
										н/д
									</span>
								</td>
							</tr>
						</tbody></table>
					</div>
				</div>
			</div>
		</li>
		<!-- <li id="floatBarsG">
			<div id="floatBarsG_1" class="floatBarsG"></div>
			<div id="floatBarsG_2" class="floatBarsG"></div>
			<div id="floatBarsG_3" class="floatBarsG"></div>
		</li> -->
	</ul>
</div>