<a>Написать письмо</a>
<div class="tooltip form-share">
	<div class="close-tooltip sprite"></div>
	<p class="blue">Пользователь получит ваше письмо</p>
	<form class="note-form">
		<div>
			<input type="text" placeholder="Ваше имя">
		</div>
		<div>
			<input type="text" placeholder="Ваша почта">
		</div>
		<div>
			<input type="text" placeholder="Ваш телефон">
		</div>
		<div class="select-control">
			<select class="selectpicker form-control">
				<option value="0" class="hidden" data-content="<span class='colorGrey'>Тема письма</span>">Тема письма</option>
				<option value="1">Тема письма1</option>
			</select>
		</div>
		<div>
			<textarea placeholder="Текст сообщения"></textarea>
		</div>
		<div class="enter-code">
			<input type="text" placeholder="Код с картинки">
			<img src="images/temp/capcha-small.png" alt="">
		</div>
		<div class="btn-divider">
			<span class="subm_btn send-note">Отправить</span>
		</div>
	</form>
</div>