<div class="object-bottom">
	<div class="separator orange-sep">
		<div class="container">
			<h2>VIP предложения</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col col-2">
				<div class="search-result-item premium">
					<div class="search-result-item_aside">
						<span class="sprite ico_premium-red stat-ico">
							<span class="tooltip">Премиум объявление</span>
						</span>
						<span class="sprite ico_vip stat-ico">
							<span class="tooltip">VIP объявление</span>
						</span>
						<span class="sprite pub_ico3 stat-ico">
							<span class="tooltip">Выделенное объявление</span>
						</span>
						<span class="sprite stat-ico pub_ico4">
							<span class="tooltip">Поднятое объявление</span>
						</span>
						<div class="colorGrey">
							10.01.15, 02:02
						</div>
						<div class="img-wrap"><img src="images/temp/home.jpg" alt="">
							<div class="media-ico">
								<a href="#" class="sprite s-tour"></a>
								<a href="#" class="sprite s-photo"><span>20</span></a>
							</div>
						</div>
					</div>
					<div class="search-result-item_main">
						<div class="general">
							<div class="general-title">
								<div>
									<div class="local_ico">
										<span class="hidden_txt"><a href="#" class="dashed sprite">3-комн. кв. д.1110</a></span>
									</div>
									<div class="info_ico">
										<div class="sprite tooltip-toggle"></div>
										<div class="tooltip tooltip-click">
											<div class="close-tooltip sprite"></div>
											<p class="sprite icon icon1">Вид дома:
												<span>Новостройка</span>
											</p>
											<p class="sprite icon icon2">Материал стен: 
												<span>Монолит</span>
											</p>
											<p class="sprite icon icon3">Особенности объекта:
												<span>Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод.</span>
											</p>
											<p class="sprite icon icon4">
												Состояние:
												<span>Евроремонт</span>
											</p>
											<p class="sprite icon icon5">
												Дополнительно:
												<span>Мебель, Телефон, Интернет, Сигнализация.</span>
											</p>
										</div>
									</div>
								</div>
								<span>Площадь: <b>120</b> м<sup>2</sup></span>
								<span class="colorGrey"> / 100 / 50</span>
								<div class="general-adress">
									<ul>
										<li class="main-adress">Москва рег., Москва г., Мичуринский пр-кт, д.34</li>
										<li><span class="colorRed">м. Университет,</span>
											<span class="colorGrey">м. Академическая</span>
										</li>
										<li class="colorGrey">
											10 минут транспортом от метро 10 минут транспортом от метро
										</li>
									</ul>
								</div>
								<div class="price-block">
									<p class="sprite cash_ico tooltip-toggle"><span class="dashed">Общ. стоимость: <b>400 000</b><span class="currency"> ₽</span></span></p>
									<div class="tooltip tooltip-click">
										<div class="close-tooltip sprite"></div>
										<table>
											<tr>
												<th>Ед. измерения</th>
												<th><div class="sprite rub-ico"></div></th>
												<th><div class="sprite usd-ico"></div></th>
												<th><div class="sprite euro-ico"></div></th>
											</tr>
											<tr>
												<td>Общ. ст :</td>
												<td>400 500</td>
												<td>8 000 <sup class="green">*</sup></td>
												<td>7 500 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст.мес. :</td>
												<td>400 500</td>
												<td>8 000 <sup class="green">*</sup></td>
												<td>7 500 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст. год :</td>
												<td>400 500</td>
												<td>6 451 612 <sup class="green">*</sup></td>
												<td>6 151 612 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст день:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> :</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в месяц:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в год:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в день:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
										</table>
										<div class="colorGrey"><sup class="green">*</sup>по курсу ЦБ на 28 июля 2015г.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-2">
				<div class="search-result-item premium">
					<div class="search-result-item_aside">
						<span class="sprite ico_vip stat-ico">
								<span class="tooltip">VIP объявление</span>
							</span>
						<div class="colorGrey">
							10.01.15, 02:02
						</div>
						<div class="img-wrap"><img src="images/temp/home.jpg" alt="">
							<div class="media-ico">
								<a href="#" class="sprite s-video"></a>
								<a href="#" class="sprite s-photo"><span>20</span></a>
							</div>
						</div>
					</div>
					<div class="search-result-item_main">
						<div class="general">
							<div class="general-title">
								<div>
									<div class="local_ico">
										<span class="hidden_txt"><a href="#" class="dashed sprite">3-комн. кв</a></span>
									</div>
									<div class="info_ico">
										<div class="sprite tooltip-toggle"></div>
										<div class="tooltip tooltip-click">
											<div class="close-tooltip sprite"></div>
											<p class="sprite icon icon1">Вид дома:
												<span>Новостройка</span>
											</p>
											<p class="sprite icon icon2">Материал стен: 
												<span>Монолит</span>
											</p>
											<p class="sprite icon icon3">Особенности объекта:
												<span>Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод.</span>
											</p>
											<p class="sprite icon icon4">
												Состояние:
												<span>Евроремонт</span>
											</p>
											<p class="sprite icon icon5">
												Дополнительно:
												<span>Мебель, Телефон, Интернет, Сигнализация.</span>
											</p>
										</div>
									</div>
								</div>
								<span>Площадь: <b>120</b> м<sup>2</sup></span>
								<span class="colorGrey"> / 100 / 50</span>
								<div class="general-adress">
									<ul>
										<li class="main-adress">Москва рег., Москва г., Мичуринский пр-кт, д.34</li>
										<li><span class="colorRed">м. Университет,</span>
											<span class="colorGrey">м. Академическая</span>
										</li>
										<li class="colorGrey">
											10 минут транспортом от метро
										</li>
									</ul>
								</div>
								<div class="price-block">
									<p class="sprite cash_ico tooltip-toggle"><span class="dashed">Общ. стоимость: <b>400 000</b><span class="currency"> ₽</span></span></p>
									<div class="tooltip tooltip-click">
										<div class="close-tooltip sprite"></div>
										<table>
											<tr>
												<th>Ед. измерения</th>
												<th><div class="sprite rub-ico"></div></th>
												<th><div class="sprite usd-ico"></div></th>
												<th><div class="sprite euro-ico"></div></th>
											</tr>
											<tr>
												<td>Общ. ст :</td>
												<td>400 500</td>
												<td>8 000 <sup class="green">*</sup></td>
												<td>7 500 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст.мес. :</td>
												<td>400 500</td>
												<td>8 000 <sup class="green">*</sup></td>
												<td>7 500 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст. год :</td>
												<td>400 500</td>
												<td>6 451 612 <sup class="green">*</sup></td>
												<td>6 151 612 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст день:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> :</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в месяц:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в год:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в день:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
										</table>
										<div class="colorGrey"><sup class="green">*</sup>по курсу ЦБ на 28 июля 2015г.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-2">
				<div class="search-result-item premium">
					<div class="search-result-item_aside">
						<span class="sprite pub_ico3 stat-ico">
							<span class="tooltip">Выделенное объявление</span>
						</span>
						<div class="colorGrey">
							10.01.15, 02:02
						</div>
						<div class="img-wrap"><img src="images/temp/home.jpg" alt="">
							<div class="media-ico">
								<a href="#" class="sprite s-tour"></a>
								<a href="#" class="sprite s-video"></a>
								<a href="#" class="sprite s-photo"><span>20</span></a>
							</div>
						</div>
					</div>
					<div class="search-result-item_main">
						<div class="general">
							<div class="general-title">
								<div>
									<div class="local_ico">
										<span class="hidden_txt"><a href="#" class="dashed sprite">3-комн. кв</a></span>
									</div>
									<div class="info_ico">
										<div class="sprite tooltip-toggle"></div>
										<div class="tooltip tooltip-click">
											<div class="close-tooltip sprite"></div>
											<p class="sprite icon icon1">Вид дома:
												<span>Новостройка</span>
											</p>
											<p class="sprite icon icon2">Материал стен: 
												<span>Монолит</span>
											</p>
											<p class="sprite icon icon3">Особенности объекта:
												<span>Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод.</span>
											</p>
											<p class="sprite icon icon4">
												Состояние:
												<span>Евроремонт</span>
											</p>
											<p class="sprite icon icon5">
												Дополнительно:
												<span>Мебель, Телефон, Интернет, Сигнализация.</span>
											</p>
										</div>
									</div>
								</div>
								<span>Площадь: <b>120</b> м<sup>2</sup></span>
								<span class="colorGrey"> / 100 / 50</span>
								<div class="general-adress">
									<ul>
										<li class="main-adress">Москва рег., Москва г., Мичуринский пр-кт, д.34</li>
										<li><span class="colorRed">м. Университет,</span>
											<span class="colorGrey">м. Академическая</span>
										</li>
										<li class="colorGrey">
											10 минут транспортом от метро
										</li>
									</ul>
								</div>
								<div class="price-block">
									<p class="sprite cash_ico tooltip-toggle"><span class="dashed">Общ. стоимость: <b>400 000</b><span class="currency"> ₽</span></span></p>
									<div class="tooltip tooltip-click">
										<div class="close-tooltip sprite"></div>
										<table>
											<tr>
												<th>Ед. измерения</th>
												<th><div class="sprite rub-ico"></div></th>
												<th><div class="sprite usd-ico"></div></th>
												<th><div class="sprite euro-ico"></div></th>
											</tr>
											<tr>
												<td>Общ. ст :</td>
												<td>400 500</td>
												<td>8 000 <sup class="green">*</sup></td>
												<td>7 500 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст.мес. :</td>
												<td>400 500</td>
												<td>8 000 <sup class="green">*</sup></td>
												<td>7 500 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст. год :</td>
												<td>400 500</td>
												<td>6 451 612 <sup class="green">*</sup></td>
												<td>6 151 612 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст день:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> :</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в месяц:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в год:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в день:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
										</table>
										<div class="colorGrey"><sup class="green">*</sup>по курсу ЦБ на 28 июля 2015г.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-2">
				<div class="search-result-item">
					<div class="search-result-item_aside">
						<div class="colorGrey">
							10.01.15, 02:02
						</div>
						<div class="img-wrap"><div class="img-temp"><img src="images/ui/pic.png" alt=""></div></div>
					</div>
					<div class="search-result-item_main">
						<div class="general">
							<div class="general-title">
								<div>
									<div class="local_ico">
										<span class="hidden_txt"><a href="#" class="dashed sprite">3-комн. кв</a></span>
									</div>
									<div class="info_ico">
										<div class="sprite tooltip-toggle"></div>
										<div class="tooltip tooltip-click">
											<div class="close-tooltip sprite"></div>
											<p class="sprite icon icon1">Вид дома:
												<span>Новостройка</span>
											</p>
											<p class="sprite icon icon2">Материал стен: 
												<span>Монолит</span>
											</p>
											<p class="sprite icon icon3">Особенности объекта:
												<span>Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод.</span>
											</p>
											<p class="sprite icon icon4">
												Состояние:
												<span>Евроремонт</span>
											</p>
											<p class="sprite icon icon5">
												Дополнительно:
												<span>Мебель, Телефон, Интернет, Сигнализация.</span>
											</p>
										</div>
									</div>
								</div>
								<span>Площадь: <b>120</b> м<sup>2</sup></span>
								<span class="colorGrey"> / 100 / 50</span>
								<div class="general-adress">
									<ul>
										<li class="main-adress">Москва рег., Москва г., Мичуринский пр-кт, д.34</li>
										<li><span class="colorRed">м. Университет,</span>
											<span class="colorGrey">м. Академическая</span>
										</li>
										<li class="colorGrey">
											10 минут транспортом от метро
										</li>
									</ul>
								</div>
								<div class="price-block">
									<p class="sprite cash_ico tooltip-toggle"><span class="dashed">Общ. стоимость: <b>400 000</b><span class="currency"> ₽</span></span></p>
									<div class="tooltip tooltip-click">
										<div class="close-tooltip sprite"></div>
										<table>
											<tr>
												<th>Ед. измерения</th>
												<th><div class="sprite rub-ico"></div></th>
												<th><div class="sprite usd-ico"></div></th>
												<th><div class="sprite euro-ico"></div></th>
											</tr>
											<tr>
												<td>Общ. ст :</td>
												<td>400 500</td>
												<td>8 000 <sup class="green">*</sup></td>
												<td>7 500 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст.мес. :</td>
												<td>400 500</td>
												<td>8 000 <sup class="green">*</sup></td>
												<td>7 500 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст. год :</td>
												<td>400 500</td>
												<td>6 451 612 <sup class="green">*</sup></td>
												<td>6 151 612 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>Общ. ст день:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> :</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в месяц:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в год:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
											<tr>
												<td>М<sup>2</sup> в день:</td>
												<td>6 500</td>
												<td>100 <sup class="green">*</sup></td>
												<td>95 <sup class="green">*</sup></td>
											</tr>
										</table>
										<div class="colorGrey"><sup class="green">*</sup>по курсу ЦБ на 28 июля 2015г.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>