
	<div class="search-result-item_aside">
		<span class="sprite stat-ico ico_premium-red">
			<span class="tooltip">Премиум объявление</span>
		</span>
		<span class="sprite stat-ico ico_vip">
			<span class="tooltip">VIP объявление</span>
		</span>
		<span class="sprite stat-ico pub_ico3">
			<span class="tooltip">Выделенное объявление</span>
		</span>
		<span class="sprite stat-ico pub_ico4">
			<span class="tooltip">Поднятое объявление</span>
		</span>
		<div class="colorGrey">10 января 2015, 02:02</div>
		<div class="img-wrap">
			<a class="fancybox" rel="img1" href="images/temp/home.jpg" title="Комментарий, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."><img src="images/temp/home.jpg" alt=""></a>
			<div class="hidden">
				<a class="fancybox" rel="img1" href="images/temp/slide_full.jpg" title="Комментарий, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."><img src="images/temp/slide_full.jpg" alt=""></a>
				<a class="fancybox" rel="img1" href="images/temp/slide_1.jpg" title="Комментарий, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."><img src="images/temp/slide_1.jpg" alt=""></a>
				<a class="fancybox" rel="img1" href="images/temp/slide_2.jpg" title="Комментарий, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."><img src="images/temp/slide_2.jpg" alt=""></a>
				<a class="fancybox" rel="img1" href="images/ui/pic.jpg"><img src="images/ui/pic.jpg" alt=""></a>
				<a class="fancybox" rel="img1" href="images/temp/slide_full.jpg" title="Комментарий, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."><img src="images/temp/slide_full.jpg" alt=""></a>
				<a class="fancybox" rel="img1" href="images/temp/slide_full.jpg" title="Комментарий, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."><img src="images/temp/slide_full.jpg" alt=""></a>
				<a class="fancybox" rel="img1" href="images/temp/slide_full.jpg" title="Комментарий, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."><img src="images/temp/slide_full.jpg" alt=""></a>
			</div>
			<div class="media-ico">
				<a href="#" class="sprite s-tour"></a>
				<a href="#" class="sprite s-video"></a>
				<a href="#" class="sprite s-photo"><span>20</span></a>
			</div>
			<script>
				$(document).ready(function() {
					$('.fancybox').fancybox({
						nextClick: true,
						mouseWheel: true,
						loop: true,
						padding: 0,
						margin: 0,
						width: 960,
						maxWidth: 960,
						caption: {
							type: 'inside'
						},
						helpers: {
							thumbs: true,
			                overlay: {
			                        locked: false
			                }
						},
						afterLoad   : function() {
					        this.inner.prepend( '<div class="switcher"><a href="#" class="active"><span>Фото</span></a><a href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" class="various fancybox.iframe"><span>Видео</span></a><a href="#"><span>3D тур</span></a></div>' );
					       $(".various").fancybox({
					       		width	: 800,
					       		maxHeight	: 600,
					       		fitToView	: false,
					       		width		: '100%',
					       		height		: '100%',
					       		autoSize	: false,
					       		closeClick	: false,
					       		openEffect	: 'none',
					       		closeEffect	: 'none',
					       		padding: 0,
					       		margin: 0,
					       			afterLoad   : function() {
					       		        this.inner.prepend( '<div class="switcher"><a class="fancybox" rel="img1" href="images/temp/home.jpg"><span>Фото</span></a><a href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" class="various fancybox.iframe active"><span>Видео</span></a><a href="#"><span>3D тур</span></a></div>' );
					       		    }
					       	});
					    }
					});
				});
			</script>
		</div>
		<div class="prel">
			//= edit-panel.html
		</div>
		<a href="#" target="_blank" class="orange-btn sprite fast-ico">Сдать быстрее
			<span class="tooltip">Подтверждение номера телефона необходимо для вашей защиты от несанкционированного</span>
		</a>
		<a href="#" target="_blank" class="btn_blue no-border_btn">Скачать презентацию
		</a>
		<!-- <div class="comment">
			<b>Ваш комментарий:</b>
			Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет... Сигнализация, Охрана... Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация,
		</div> -->
	</div>
	<div class="search-result-item_main">
		<div class="general">
			<div class="price-block">
				<div class="sprite cash_ico">
					<span>400 000 000</span>
					<span class="total_cost nobr tooltip-toggle">
					<span class="dashed"><span class="currency">₽</span> общ. ст.</span></span>
					<div class="tooltip tooltip-click">
						<div class="close-tooltip sprite"></div>
						<table>
							<tr>
								<th>Ед. измерения</th>
								<th><div class="sprite rub-ico"></div></th>
								<th><div class="sprite usd-ico"></div></th>
								<th><div class="sprite euro-ico"></div></th>
							</tr>
							<tr>
								<td>Общ. ст :</td>
								<td>400 000 000 000</td>
								<td>8 000 <sup class="green">*</sup></td>
								<td>7 500 <sup class="green">*</sup></td>
							</tr>
							<tr>
								<td>Общ. ст.мес. :</td>
								<td>400 500</td>
								<td>8 000 <sup class="green">*</sup></td>
								<td>7 500 <sup class="green">*</sup></td>
							</tr>
							<tr>
								<td>Общ. ст. год :</td>
								<td>400 500</td>
								<td>6 451 612 <sup class="green">*</sup></td>
								<td>6 151 612 <sup class="green">*</sup></td>
							</tr>
							<tr>
								<td>Общ. ст день:</td>
								<td>6 500</td>
								<td>100 <sup class="green">*</sup></td>
								<td>95 <sup class="green">*</sup></td>
							</tr>
							<tr>
								<td>М<sup>2</sup> :</td>
								<td>6 500</td>
								<td>100 <sup class="green">*</sup></td>
								<td>95 <sup class="green">*</sup></td>
							</tr>
							<tr>
								<td>М<sup>2</sup> в месяц:</td>
								<td>6 500</td>
								<td>100 <sup class="green">*</sup></td>
								<td>95 <sup class="green">*</sup></td>
							</tr>
							<tr>
								<td>М<sup>2</sup> в год:</td>
								<td>6 500</td>
								<td>100 <sup class="green">*</sup></td>
								<td>95 <sup class="green">*</sup></td>
							</tr>
							<tr>
								<td>М<sup>2</sup> в день:</td>
								<td>6 500</td>
								<td>100 <sup class="green">*</sup></td>
								<td>95 <sup class="green">*</sup></td>
							</tr>
						</table>
						<div class="colorGrey"><sup class="green">*</sup>по курсу ЦБ на 28 июля 2015г.</div>
					</div>
				</div>
				<ul class="colorGrey">
					<li class="nopartner_ico sprite">
						&nbsp;
						<div class="tooltip">Не работаю с посредниками</div>
					</li>
					<li class="bonus_ico sprite">
						<p>2% <span class="nobr">(8 000 $)</span></p>
						<div class="tooltip">Плачу комиссию посреднику</div>
					</li>
					<li class="info_ico">
						<div class="sprite tooltip-toggle"><i>Условия сделки</i></div>
						<div class="tooltip tooltip-click">
							<div class="close-tooltip sprite"></div>
							<p class="sprite icon icon34">Форма сделки:
								<span>Прямая продажа</span>
							</p>
							<p class="sprite icon icon35">Срок: 
								<span>Длительный</span>
							</p>
							<p class="sprite icon icon36">Залог:
								<span>100% (4 000 000 руб.)</span>
							</p>
							<p class="sprite icon icon37">
								Предоплата:
								<span>1 месяц</span>
							</p>
							<p class="sprite icon icon5">
								Дополнительно:
								<span>Можно с детьми, домашними животными</span>
							</p>
						</div>
					</li>
				</ul>
				//= price-toggle.html
			</div>
			<div class="general-title">
				<div class="local_ico">
					<span class="hidden_txt"><a href="#" class="sprite dashed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias officiis optio, dolore atque, eveniet at.</a></span>
					<div class="tooltip align_right">
						<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias officiis optio, dolore atque, eveniet at.</a></p>
					</div>
				</div>
				<span class="sprite area_ico"> 
					<b>777</b> м<sup>2</sup>
					<span class="colorGrey"> / 777 / 777 / 100 / 50</span>
				</span>
			</div>
			<div class="general-adress">
				<ul>
					<li>Москва рег., Москва г., Мичуринский пр-кт, д.34</li>
					<li><span class="colorSky">м. Университет,</span>
						<span class="colorOrange">м. Академическая</span></li>
					<li class="colorGrey">10 минут транспортом от метро</li>
				</ul>
			</div>
		</div>
		<div class="main_comment">
			<div class="info_ico">
				<div class="sprite tooltip-toggle"><i>Об объекте</i></div>
				<div class="tooltip align_right tooltip-click">
					<div class="close-tooltip sprite"></div>
					<p class="sprite icon icon1">Вид дома:
						<span>Новостройка</span>
					</p>
					<p class="sprite icon icon2">Материал стен: 
						<span>Монолит</span>
					</p>
					<p class="sprite icon icon3">Особенности объекта:
						<span>Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод.</span>
					</p>
					<p class="sprite icon icon4">
						Состояние:
						<span>Евроремонт</span>
					</p>
					<p class="sprite icon icon5">
						Дополнительно:
						<span>Мебель, Телефон, Интернет, Сигнализация.</span>
					</p>
				</div>
			</div>
			<div>Этаж: <b>10/24</b> 
				Вид дома: <span>новостройка / монолит</span>
			</div>
			<p>
				Охрана, Видеонаблюдение, Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация,
				Видеонаблюдение, Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация, Охрана,
				Лифт, Автостоянка, Мусоропровод, Мебель, Телефон, Интернет, Сигнализация,
			</p>
		</div>
		//= user_info.html
	</div>
