<div class="package-max">
	<div class="package-max_title">Пакет «максимум»</div>
	<div class="package-max_subtitle">Продайте недвижимость быстро и выгодно </div>
	<div class="max-box">
		<p>При подключении пакета «Максимум» у вашему объявлению будут применены все рекламные услуги ИМЛС. Вы получите максимум клиентов по своему объявлению
		</p>
		<div class="max-item sprite s-plus">
			<img src="images/icons/mark.png" alt="Выделить">
			<p>Выделить</p>
		</div>
		<div class="max-item sprite s-plus">
			<img src="images/icons/up.png" alt="Поднять">
			<p>Поднять</p>
		</div>
		<div class="max-item sprite s-plus">
			<img src="images/icons/premium.png" alt="Премиум">
			<p>Премиум</p>
		</div>
		<div class="max-item sprite s-is">
			<img src="images/icons/vip.png" alt="VIP">
			<p>VIP</p>
		</div>
		<p class="old-price">1150</p>
		<p class="new-price">1000<span>руб</span></p>
	</div>
	<p>С пакетом «Максимум» вы экономите 30% на подключение рекламных услуг
	</p>
	<p>Стоимость: <b class="green">1,22</b> руб./сутки</p>
	<a href="#" class="orange-btn no-border_btn">подключить пакет «максимум»</a>
</div>