<div class="separator">
	<div class="container">
		<h2>Отзывы</h2>
	</div>
</div>
<div class="review-block">
	<div class="container">
		<div class="review-item">
			<div class="review-avatar"><img src="http://lorempixel.com/100/100/people/1" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Шульман Анастасия</a> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item">
			<div class="review-avatar"><img src="images/ui/ava_m.png" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Михаил Ефремов</a> <span class="date">7.01.2017, 22:12 (2 дня назад)</span></div>
			<div class="box">
				<p>
					Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Таким образом сложившаяся структура организации требуют определения и уточнения модели развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа дальнейших направлений развития. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития
					<span class="hidden">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					</span>
					<span class="dot">...</span>
					<a class="sprite expand_ico open">больше</a>
				</p>
			</div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like ico sprite">12</a>
					<a class="dislike active ico sprite">0</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item">
			<div class="review-avatar"><img src="http://lorempixel.com/100/100/people/4" /></div>
			<div class="review-top"><a href="" class="review-name">Алена Филатова</a> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Таким образом сложившаяся структура организации требуют определения и уточнения модели развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа дальнейших направлений развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like ico sprite">10</a>
					<a class="dislike ico sprite">30</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-2">
			<div class="review-avatar"><img src="images/temp/avatar.jpg" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Женя Синицын</a> <span class="to sprite">Алена Филатова</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-3">
			<div class="review-avatar"><img src="images/ui/ava_w.png" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Аня Хисамутдинова</a> <span class="to sprite">Женя Синицын</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-3">
			<div class="review-avatar"><img src="http://lorempixel.com/100/100/people/1" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Шульман Анастасия</a> <span class="to sprite">Женя Синицын</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-2">
			<div class="review-avatar"><img src="images/temp/avatar.jpg" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Женя Синицын</a> <span class="to sprite">Алена Филатова</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-3">
			<div class="review-avatar"><img src="images/ui/ava_w.png" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Аня Хисамутдинова</a> <span class="to sprite">Женя Синицын</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-4">
			<div class="review-avatar"><img src="images/temp/avatar.jpg" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Женя Синицын</a> <span class="to sprite">Алена Филатова</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-5">
			<div class="review-avatar"><img src="images/ui/ava_w.png" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Аня Хисамутдинова</a> <span class="to sprite">Женя Синицын</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-6">
			<div class="review-avatar"><img src="images/temp/avatar.jpg" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Женя Синицын</a> <span class="to sprite">Алена Филатова</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="review-item level-6">
			<div class="review-avatar"><img src="images/ui/ava_w.png" alt=""></div>
			<div class="review-top"><a href="" class="review-name">Аня Хисамутдинова</a> <span class="to sprite">Женя Синицын</span> <span class="date">9.01.2017, 02:02 (Вчера)</span></div>
			<div class="box"><p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание модели развития. С другой стороны консультация с широким активом позволяет выполнять важные задания по разработке модели развития.</p></div>
			<div class="review-action">
				<span>Полезный отзыв?</span>
				<div class="review-rating">
					<a class="like active ico sprite">99999</a>
					<a class="dislike ico sprite">10001</a>
				</div>
				<span class="review-action_answer sprite">Ответить</span>
				<form class="review-action_form">
					<textarea name="" placeholder="Впишите сюда"></textarea>
					<button class="no-border_btn btn_blue">добавить</button>
					<a class="cancel">Отмена</a>
				</form>
			</div>
		</div>
		<div class="pagination_list">
			<ul>
				<li><a href="#" class="prew"></a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#" class="next"></a></li>
			</ul>
		</div>
	</div>
	<div class="review-form">
		<div class="container">
			<form action="">
				<label for="">Оставить отзыв:</label>
				<textarea name="" placeholder="Впишите сюда"></textarea>
				<button class="no-border_btn btn_blue">добавить</button>
			</form>
		</div>
	</div>
</div>