<div class="user_info">
			<div class="agent-block sprite">
				<div class="img-wrap">
					<img src="images/ui/gerb.png" alt="">
					<p>ID: <b>6734</b></p>
				</div>
				<div class="agent-info">
					<p class="agent-name">Алексей Сидельников <span class="pro-label">PRO<span class="tooltip">Профессиональный участник</span></span> <span class="partner sprite"><span class="tooltip">Участник системы партнерских продаж</span></span></p>
					<p class="agent-subtitle">Агентство недвижимости "Центр московской недвижимости имени Ивана Пупкина"</p>
					<div class="phone">
						<div class="no-border_btn btn_blue sprite">Показать телефон</div>
						<div class="show-phone">
							<span>+7 (XXX) XXX-XX-XX</span>
							<p class="sprite">Участник скрыл номер телефона от незарегистрированных пользователей</p>
							<div class="btn-link">
								<div>
									<a href="" class="enter-link sprite">Вход</a>
								</div>
								<div>
									<a href="" class="register-link sprite">Регистрация</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="right-links">
				<div class="links collapse-block">
					<div class="sprite collapse-toggle"></div>
					<ul>
						<li class="mail_ico">
							//= mailto.html
						</li>
						<li class="collapse-hidden">
							<a href="#">Написать в чат</a>
						</li>
						<li class="collapse-hidden">
							<a href="#">Написать смс</a>
						</li>
					</ul>
				</div>
				<div class="agent-links">
					<div><a href="#" class="sprite al-site">Веб-сайт</a></div>
					<div><a href="#" class="sprite al-rev">Отзывы</a></div>
					<div><a href="#" class="sprite al-rait">Оценки</a></div>
				</div>
			</div>
		</div>