<div class="w-block">
	<div class="search-result-item_aside">
		<div class="prel">
			<div class="edit-panel ico_group">
				<ul>
					<li><a href="" data-toggle="modal" data-target="#historyModal" class="sprite history-btn"><span class="tooltip">История</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="search-result-item_main">
		<div class="agent-info">
			<a href="" class="sprite ico-change"><span class="tooltip">Сменить агента</span></a>
			<div class="agent-name">
				<span class="sprite ico-agent"></span>
				<span class="hidden_txt"><a href="#" class="sprite dashed">Алексей Сидельников Lorem ipsum dolor sit amet, consectetur adipisicing.</a></span>
				<div class="tooltip align_right">
					<p><a href="#">Алексей Сидельников Lorem ipsum dolor sit amet, consectetur adipisicing.</a></p>
				</div>
				<span class="tooltip">Ответственный агент</span>
			</div>
			<div class="links collapse-block">
				<div class="sprite collapse-toggle"></div>
				<ul>
					<li class="mail_ico">
						//= mailto.html
					</li>
					<li class="collapse-hidden">
						<a href="#">Написать в чат</a>
					</li>
					<li class="collapse-hidden">
						<a href="#">Написать смс</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="agent-info pull-right">
			<a href="" class="sprite ico-change"><span class="tooltip align-right">Сменить клиента</span></a>
			<div class="agent-name">
				<span class="sprite ico-client"></span>
				<a href="#" class="sprite dashed">Степанов Егор</a>
				<span class="tooltip">Клиент</span>
			</div>
			<div class="links collapse-block">
				<div class="sprite collapse-toggle"></div>
				<ul>
					<li class="mail_ico">
						//= mailto.html
					</li>
					<li class="collapse-hidden">
						<a href="#">Написать в чат</a>
					</li>
					<li class="collapse-hidden">
						<a href="#">Написать смс</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal fade styled-modal" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="colorModalLabel" aria-hidden="true"> 
	<div class="modal-dialog"> 
		<div class="modal-content">
			<div class="modal-header">
				<div class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></div>
			</div>
			<div class="modal-body">
				<div class="modal-title">История</div>
				<div class="history-block">
					<div class="h-green-block">
						<i class="sprite sprite-icon-8"></i>
						Связяться с клиентом 28 декабря в 9:00
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-7"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-3"></i>
						<textarea name="modal-area">Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</textarea>
						<a href="#" class="h-edit dashed">
							Редактировать
						</a>
						<a href="#" class="pull-right h-cancel">Отменить</a>
						<a href="#" class="pull-right h-save">Сохранить</a>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-6"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-5"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-1"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-4"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-2"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-12"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-11"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
					<div class="h-gray-block">
						<i class="sprite sprite-icon-10"></i>
						<p>Равным образом укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
						</p>
						<p class="date">
							9.01.2017, 02:02 (Вчера)
						</p>
					</div>
				</div>
				<div class="history-link">
					<a href="#" class="no-border_btn btn_blue">показать еще</a>
				</div>
			</div>
		</div>
	</div>
</div> 